
html{
  scroll-behavior: smooth;
}

body{
  font-size:16px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.2;
  background: #5A5A5A;
  color: #21C2E4;
}

img{
  max-width: 100%;
}

li{
  line-height: 1.2;
}

a{
  color: white;
  text-decoration: none;
}

main{
  display: block;
  margin:auto;
  width: 500px;
}

h1{
  text-align: center;
}

h2{
  text-align: center;
}

h3{
  text-align: center;
}
/* I centered the main tag */

.center{
display:block;
margin-right:auto;
margin-left:auto;
width:150px;
}
